.header {
  height: 15vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  background-color: white;
  width: 100vw;
}

.title-hogwarts {
  display: flex;
  align-items: flex-end;
  margin: 0;
}

.title-logo {
  display: flex;
  width: 250px;
}

.title-finder {
  display: flex;
}

.hedwig {
  width: 85px;
  position: relative;
  top: -40px;
  left: -40px;
  transform: rotate(20deg);
  //añadir movimiento
}