.header {
  height: 12vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid grey;
  @media all and (min-width:830px) {
    height: 15vh;
    justify-content: flex-start;
    padding-left: 10vw;
  }
}

.title-hogwarts {
  display: flex;
  align-items: flex-end;
  margin: 0;
  position: relative;
  @media all and (min-width:830px) {
    top: -10px;
  }
}

.title-logo {
  display: flex;
  width: 200px;
  @media all and (min-width:410px) {
    width: 220px;
  }
}

.title-finder {
  display: flex;
  font-size: 32px;
  @media all and (min-width:410px) {
    font-size: 40px;
  }
}

.hedwig {
  width: 60px;
  position: absolute;
  top: 12px;
  right: 0;
  transform: rotate(20deg);
  animation-name: hedwig-opaque;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  @media all and (min-width:410px) {
    width: 70px;
    top: 4px;
  }
  @media all and (min-width:830px) {
    top: 25px;
  }
}

@keyframes hedwig-opaque {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
