.list-characters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  background: url("images/sky.jpg") fixed;
  background-size: cover;
  padding: 50px 0 80px;
  min-height: 65vh;
}

.card-character {
  height: 280px;
  width: 200px;
  margin: 30px;
  box-shadow: 0 0 10px white;
  border-radius: 5px;
  transition: transform ease 1s;
  &:hover {
    transform: translate(0, -10px);
    .detail-character {
      visibility: visible;
    }
  }
}

.card-gryffindor {
  background-color: #670C02;
  border: 13px solid #CC9911;
}

.card-slytherin {
  background-color: #123401;
  border: 13px solid #636663;
}

.card-ravenclaw {
  background-color: #102E5F;
  border: 13px solid #999999;
}

.card-hufflepuff {
  background-color: #CC9911;
  border: 13px solid #000000;
}

.link-character {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-character {
  width: 190px;
  height: 200px;
  object-fit: cover;
  object-position: 50% 50%;
  object-position: 0 0;
  margin-top: 5px;
}

.detail-character {
  visibility: hidden;
  color: gainsboro;
  display: flex;
  align-self: flex-end;
  transition: visibility ease 1s;
  font-size: 14px;
  margin: 0 10px;
  font-weight: bold;

}

.name-character {
  display: flex;
  align-self: flex-start;
  margin: 0 10px;
  font-size: 20px;
  font-weight: 300;
  height: 30px;
  width: 190px;
  overflow: hidden;
}

.house-character {
  display: flex;
  align-self: flex-start;
  margin: 0 10px;
  font-size: 16px;
  font-weight: 100;
}
