.form-search {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 80px;
  background-color: white;
  width: 100%;
  padding: 10px 0;
  z-index: 1;
  @media all and (min-width:830px) {
    width: 0;
    top: 4vh;
    justify-content: flex-end;
    right: 10vw;
  }
}

.label-search {
  display: none;
}

.input-search {
  font-size: 21px;
  color: black;
  border-radius: 3px;
  padding: 10px;
  border: 1px solid grey;
  background-color: gainsboro;
  transition: background-color ease 1s;
  &:hover {
    background-color: white;
  }
  &::placeholder {
    font-size: 21px;
    color: black;
  }
  @media all and (min-width:830px) {
    height: 24px;
  }
}
